.toggle {
	white-space: pre;
	margin-right: 4px;
	cursor: pointer;
	min-width: 8px;
  
	&::after {
	  content: ' ';
	}
  
	&.collapsed::after {
	  content: '+';
	}
  
	&.expanded::after {
	  content: '-';
	}

	&.hidden {
		visibility: hidden;
	}
  }