.node {
	list-style-type: none;
	padding: 10px 0px 10px 0px;
	width: 100%;

	.row {
		display: flex;
		align-items: center;

		.checkbox {
			margin-right: 4px;
		}

		.title {
			cursor: pointer;
		}
	}

	.children {
		display: block;

		&.hidden {
			display: none;
		}
	}
}
