@mixin styling() {
	background-color: white;
	border-color: rgb(204, 204, 204);
	border-radius: 4px;
	border-style: solid;
	border-width: 1px;
}

.wrapper {
	position: relative;
	margin-bottom: 10px;

	.select {
		@include styling();
		min-height: 38px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		cursor: pointer;
		padding: 2px 8px;

		&__title {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
		}

		&__toolbox {
			display: flex;
			align-items: center;

			& > div {
				margin-left: 10px
			}
		}
	}

	.dropdown {
		@include styling();
		box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
		padding: 10px;
		margin-top: 5px;
		width: 100%;
		position: absolute;
		z-index: 2;
		max-height: 50vh;
		overflow: auto;

		& > ul {
			margin-top: 0;
			padding-left: 10px;
		}

		&.enter {
			opacity: 0;
		}
		&.enter_active {
			opacity: 1;
			transition: opacity 200ms;
		}
		&.exit {
			opacity: 1;
		}
		&.exit_active {
			opacity: 0;
			transition: opacity 200ms;
		}
	}
}
